<!-- Footer Start -->
<div class="container-fluid bg-dark text-white-50 py-5 px-sm-3 px-md-5" style="margin-top: 90px; ">
    <div class="row pt-5">
        <div class="col-lg-3 col-md-6 mb-5">
            <a href="/" class="navbar-brand">
                <h1 class="m-0 mt-n2 text-white display-4"><img src="/main/img/logo.png" style="width: 9rem;" alt="">
                </h1>
            </a>
            <!-- <p>Volup amet magna clita tempor. Tempor sea eos vero ipsum. Lorem lorem sit sed elitr sed kasd et</p> -->
            <h6 class="text-uppercase text-white py-2">تابعنا على </h6>
            <div class="d-flex justify-content-start">
                <a class="btn btn-lg btn-primary btn-lg-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-lg btn-primary btn-lg-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-lg btn-primary btn-lg-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-lg btn-primary btn-lg-square" href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h4 class="text-uppercase text-white mb-4">ابقى على تواصل</h4>
            <!-- <p>Volup amet magna clita tempor. Tempor sea eos vero ipsum. Lorem lorem sit sed elitr sed kasd et</p> -->
            <p><i class="fa fa-map-marker-alt text-white mr-2"></i>123 Street, New York, USA</p>
            <p><i class="fa fa-phone-alt text-white mr-2"></i>+012 345 67890</p>
            <p><i class="fa fa-envelope text-white mr-2"></i>exllence@caie-sa.com</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h4 class="text-uppercase text-white mb-4">الروابط</h4>
            <div class="d-flex flex-column justify-content-start">
                <a class="text-white-50 mb-2" href="#"><i
                        class="fa fa-angle-right text-white mr-2"></i>الصفحةالرئيسية</a>
                <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right text-white mr-2"></i>من
                    نحن</a>
                <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right text-white mr-2"></i>خدماتنا</a>
                <!-- <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right text-white mr-2"></i>Pricing Plan</a> -->
                <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right text-white mr-2"></i>فريق
                    العمل</a>
                <a class="text-white-50" href="#"><i class="fa fa-angle-right text-white mr-2"></i>تواصل
                    معنا</a>
            </div>
        </div>
        <div class="col-lg-3 text-lg-center" style="padding-top: 205px;">
            <p class="footer-text m-0">
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved | Developed
                by <a href="https://api.whatsapp.com/send?phone=0201152306375" target="_blank">Amer Mostafa</a>
            </p>
        </div>
    </div>
</div>

<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="/main/lib/easing/easing.min.js"></script>
<script src="/main/lib/waypoints/waypoints.min.js"></script>
<script src="/main/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/main/lib/isotope/isotope.pkgd.min.js"></script>
<script src="/main/lib/lightbox/js/lightbox.min.js"></script>

<!-- Contact Javascript File -->
<script src="/main/mail/jqBootstrapValidation.min.js"></script>
<script src="/main/mail/contact.js"></script>
<script src="/main/js/popper.min.js"></script>
<script src="/main/js/owl.carousel.min.js"></script>
<!-- Template Javascript -->
<script src="/main/js/main.js"></script>
</body>

</html>