<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>caie-sa</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="/main/img/logo.png" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Rubik&display=swap"
        rel="stylesheet"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/main/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/main/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/main/css/owl.carousel.min.css">

    <link rel="stylesheet" href="/main/css/animate.css">
    <!-- Customized Bootstrap Stylesheet -->
    <link href="/main/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Navbar Start -->
    <div class="container-fluid position-relative" style="background-color: #03001C;">
        <nav class="navbar navbar-expand-lg navbar-light py-3 py-lg-0">

            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse" style="text-align: right;">
                <div class="navbar-nav ml-auto py-0 pr-3 border-right">



                    <a href="/contact" class="nav-item nav-link">التواصل</a>
                    <a href="/about" class="nav-item nav-link">من نحن</a>
                    <a href="/service" class="nav-item nav-link">خدماتنا</a>
                    <a href="/projects" class="nav-item nav-link">مشاريعنا</a>
                    <a href="/index" class="nav-item nav-link active">الصفحة الرئيسية </a>


                </div>
                <a href="/" class="navbar-brand text-secondary">
                    <h1 class="display-4 text-uppercase"><img src="/main/img/logo.png" style="width: 9rem;" alt=""></h1>
                </a>
        </nav>
    </div>
    <!-- Navbar End -->