<div class="d-none row all-forms" id="projects">
    <div class="col-6">
        <hr>
        <div class="col-12" style="margin-top: 10px;">
            <h4>edit projects</h4>
            <ul class="list-group">
                <% projects.forEach(s=>{%>
                    <li class="list-group-item"><span>
                            <%=s.name.ar%>/ <%=s.name.en%>
                        </span> <button type="button" class="btn btn-danger" onclick="removeProject('<%=s._id%>')"
                            style="float: right;">remove</button></li>
                    <%})%>
            </ul>
        </div>
    </div>
    <div class="col-6">
        <h4>add project</h4>
        <form action="/admin/add-project" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="name" class="form-label">اسم المشروع</label>
                <input type="text" name="namear" class="form-control" placeholder="اسم المشروع">
            </div>
            <div class="mb-3">
                <label for="txt">وصف المشروع</label>
                <textarea name="descar" class="form-control" cols="30" rows="6"></textarea>
            </div>
            <div class="mb-3">
                <input type="file" name="img" class="form-control" multiple>
            </div>
            <button type="submit" class="btn btn-dark">submit</button>
        </form>
    </div>
</div>
<script>
    const removeCateg = (id) => {
        if (confirm('warn! you will dellete this slide?')) {
            fetch(`/admin/remove-project-categ/${id}`)
                .then(res => {
                    return location.reload()
                })
                .catch(err => {
                    alert(err)
                })
        }
    }
    const removeProject = (id) => {
        if (confirm('warn! you will dellete this slide?')) {
            fetch(`/admin/remove-project/${id}`)
                .then(res => {
                    return location.reload()
                })
                .catch(err => {
                    alert(err)
                })
        }
    }
</script>